.body{
	width: 100%;
	max-width: 100%;
	background-color: red;
}
input{
	float:left;
	display: block;
}
.sub-title{

	white-space: nowrap;
  	overflow: hidden;
}
.justbrewed{
	max-width: 200px;
	width: 200px;
}
#valid{
	max-width: 200px;
	width: 200px;
	display: block;
}
#valider{
	max-width: 200px;
	width: 200px;
}
#validest{
	max-width: 200px;
	width: 200px;
}
#newcoffee{
	width: 200px;
}
#newcoffeesessionauth{
	max-width: 200px;
	width: 200px;
	height: 200px;
}
#errorcode{
	left:0px;
}