.body{
	max-width: 100%;
	width: 100%;
	max-width: 100%;
	background-color: red;
}
input{
	float:left;
	display: block;
	margin-bottom: 6px;
}
.title{

}
.sub-title{

	white-space: nowrap;
  	overflow: hidden;
}
.justbrewed{
	max-width: 200px;
	width: 200px;
}
#valid{
	max-width: 200px;
	width: 200px;
	height:30px;
	display: block;
}
#valider{
	max-width: 200px;
	width: 200px;
	height:30px;
}
#validest{
	max-width: 200px;
	width: 200px;
	height:30px;
}
#newcoffee{
	width: 200px;
	height: 40px;
}
#newcoffeesessionauth{
	max-width: 200px;
	width: 200px;
	height: 40px;
}
#errorcode{
	max-width: 200px;
	width: 200px;
	top:auto;
	left:auto;
}